
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.transition {
    transition: all .2s linear;
}

.display-01 {
    font-size: var(--display-01-font-size);
    line-height: var(--display-01-line-height);
    font-weight: var(--display-01-font-weight);
}

.display-02 {
    font-size: var(--display-02-font-size);
    line-height: var(--display-02-line-height);
    font-weight: var(--display-02-font-weight);
}

.display-03 {
    font-size: var(--display-03-font-size);
    line-height: var(--display-03-line-height);
    font-weight: var(--display-03-font-weight);
}

// Heading classes
.heading-01 {
    font-size: var(--heading-01-font-size);
    line-height: var(--heading-01-line-height);
    font-weight: var(--heading-01-font-weight);
}

.heading-02 {
    font-size: var(--heading-02-font-size);
    line-height: var(--heading-02-line-height);
    font-weight: var(--heading-02-font-weight);
}

.heading-03 {
    font-size: var(--heading-03-font-size);
    line-height: var(--heading-03-line-height);
    font-weight: var(--heading-03-font-weight);
}

.heading-04 {
    font-size: var(--heading-04-font-size);
    line-height: var(--heading-04-line-height);
    font-weight: var(--heading-04-font-weight);
}

// Button classes
.button-l {
    font-size: var(--button-l-font-size);
    // line-height: var(--button-l-line-height);
    font-weight: var(--button-l-font-weight);
}

.button-m {
    font-size: var(--button-m-font-size);
    // line-height: var(--button-m-line-height);
    font-weight: var(--button-m-font-weight);
}

.button-s {
    font-size: var(--button-s-font-size);
    // line-height: var(--button-s-line-height);
    font-weight: var(--button-s-font-weight);
}

// Label classes
.label-xxl {
    font-size: var(--label-xxl-font-size);
    line-height: var(--label-xxl-line-height);
    font-weight: var(--label-xxl-font-weight);
}

.label-xl {
    font-size: var(--label-xl-font-size);
    line-height: var(--label-xl-line-height);
    font-weight: var(--label-xl-font-weight);
}

.label-large {
    font-size: var(--label-large-font-size);
    line-height: var(--label-large-line-height);
    font-weight: var(--label-large-font-weight);
}

.label-medium {
    font-size: var(--label-medium-font-size);
    line-height: var(--label-medium-line-height);
    font-weight: var(--label-medium-font-weight);
}

.label-small {
    font-size: var(--label-small-font-size);
    line-height: var(--label-small-line-height);
    font-weight: var(--label-small-font-weight);
}

// Body classes
.body-xxxl-400 {
    font-size: var(--body-xxxl-400-font-size);
    line-height: var(--body-xxxl-400-line-height);
    font-weight: var(--body-xxxl-400-font-weight);
}

.body-xxl-400 {
    font-size: var(--body-xxl-400-font-size);
    line-height: var(--body-xxl-400-line-height);
    font-weight: var(--body-xxl-400-font-weight);
}

.body-xxl-500 {
    font-size: var(--body-xxl-500-font-size);
    line-height: var(--body-xxl-500-line-height);
    font-weight: var(--body-xxl-500-font-weight);
}

.body-xxl-600 {
    font-size: var(--body-xxl-600-font-size);
    line-height: var(--body-xxl-600-line-height);
    font-weight: var(--body-xxl-600-font-weight);
}

.body-xl-400 {
    font-size: var(--body-xl-400-font-size);
    line-height: var(--body-xl-400-line-height);
    font-weight: var(--body-xl-400-font-weight);
}

.body-xl-500 {
    font-size: var(--body-xl-500-font-size);
    line-height: var(--body-xl-500-line-height);
    font-weight: var(--body-xl-500-font-weight);
}

.body-xl-600 {
    font-size: var(--body-xl-600-font-size);
    line-height: var(--body-xl-600-line-height);
    font-weight: var(--body-xl-600-font-weight);
}

.body-large-400 {
    font-size: var(--body-large-400-font-size);
    line-height: var(--body-large-400-line-height);
    font-weight: var(--body-large-400-font-weight);
}

.body-large-500 {
    font-size: var(--body-large-500-font-size);
    line-height: var(--body-large-500-line-height);
    font-weight: var(--body-large-500-font-weight);
}

.body-large-600 {
    font-size: var(--body-large-600-font-size);
    line-height: var(--body-large-600-line-height);
    font-weight: var(--body-large-600-font-weight);
}

.body-medium-400 {
    font-size: var(--body-medium-400-font-size);
    line-height: var(--body-medium-400-line-height);
    font-weight: var(--body-medium-400-font-weight);
}

.body-medium-500 {
    font-size: var(--body-medium-500-font-size);
    line-height: var(--body-medium-500-line-height);
    font-weight: var(--body-medium-500-font-weight);
}

.body-medium-600 {
    font-size: var(--body-medium-600-font-size);
    line-height: var(--body-medium-600-line-height);
    font-weight: var(--body-medium-600-font-weight);
}

.body-small-400 {
    font-size: var(--body-small-400-font-size);
    line-height: var(--body-small-400-line-height);
    font-weight: var(--body-small-400-font-weight);
}

.body-small-500 {
    font-size: var(--body-small-500-font-size);
    line-height: var(--body-small-500-line-height);
    font-weight: var(--body-small-500-font-weight);
}

.body-small-600 {
    font-size: var(--body-small-600-font-size);
    line-height: var(--body-small-600-line-height);
    font-weight: var(--body-small-600-font-weight);
}

.body-tiny-400 {
    font-size: var(--body-tiny-400-font-size);
    line-height: var(--body-tiny-400-line-height);
    font-weight: var(--body-tiny-400-font-weight);
}

.body-tiny-500 {
    font-size: var(--body-tiny-500-font-size);
    line-height: var(--body-tiny-500-line-height);
    font-weight: var(--body-tiny-500-font-weight);
}

.body-tiny-600 {
    font-size: var(--body-tiny-600-font-size);
    line-height: var(--body-tiny-600-line-height);
    font-weight: var(--body-tiny-600-font-weight);
}